@import "tailwindcss";

:root {
  --bg-body: #f6f8fa;
  --text-color: #62646a;
  --title-color: #404145;
}

@theme {
  --color-primary: teal;
  --color-success: hsl(150, 50%, 50%);
  --color-warning: hsl(50, 70%, 60%);
  --color-danger: hsl(10, 60%, 55%);
  --color-info: hsl(210, 60%, 55%);
}

body {
  background-color: var(--bg-body);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
}